.vim/bundle
.vim/pack/
.DS_Store
tool/*
!setup.sh

Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/
