[user]
	name = Kenta Kase
	email = kesin1202000@gmail.com
[color]
	ui = auto
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[alias]
	co = checkout
	st = status
    br = branch
	hist = log --decorate --graph
	histp = log --decorate -p
    logp = log --decorate -p
    sw = switch
    rs = restore
; Enable after install git with homebrew
; [pager]
;     log = diff-highlight | less
;     show = diff-highlight | less
;     diff = diff-highlight | less
; Enable after install delta
;     log = delta --color-only
;     show = delta --features decorations
;     diff = delta --features decorations
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[help]
    autocorrect = 20
[merge]
    tool = vimdiff
[rerere]
	enabled = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[rebase]
	autostash = true
	abbreviateCommands = true
	autosquash = true
[pull]
    ff = only
; [interactive]
;     diffFilter = delta --color-only
; [delta]
;     colorMoved = default
;     # features = decorations
;     whitespace-error-style = 22 reverse
; [delta "decorations"]
;     line-numbers = true
;     commit-decoration-style = bold yellow box ul
;     file-style = bold yellow ul
;     file-decoration-style = none
