[user]
	name = Kenta Kase
	email = kesin1202000@gmail.com
[color]
	ui = auto
[core]
	editor = /usr/bin/vim
[alias]
	co = checkout
	st = status
    br = branch
	hist = log --decorate --graph
    pco = !git checkout `git branch | peco | cut -d" " -f2`
; Enable after install git with homebrew
; [pager]
;     log = diff-highlight | less
;     show = diff-highlight | less
;     diff = diff-highlight | less
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[help]
    autocorrect = 20
[merge]
    tool = vimdiff
