"*":
  "atom-text-editor":
    "vim-mode":
      "command-mode":
        "ctrl-i": "cursor-history:next"
        "ctrl-o": "cursor-history:prev"
  "autocomplete-plus":
    confirmCompletion: "enter"
    useCoreMovementCommands: false
  "clip-history": {}
  coffeelint:
    options:
      max_line_length:
        level: "ignore"
  core:
    disabledPackages: [
      "minimap"
      "atom-helloworld"
      "japanese-wrap"
      "zentabs"
      "linter-jshint"
      "turbo-javascript"
    ]
    followSymlinks: true
    packagesWithKeymapsDisabled: [
      "clip-history"
    ]
    themes: [
      "atom-dark-ui"
      "railscast-theme"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "Ricty Diminished"
    invisibles: {}
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  emmet: {}
  "exception-reporting":
    userId: "b75d5899-3419-c52d-3f93-12ad2047f11c"
  "japanese-wrap":
    characterWidth: {}
  linter:
    errorPanelHeight: 23
    showErrorTabLine: true
  "linter-eslint":
    globalNodePath: "/usr/local"
  "linter-flake8":
    maxLineLength: 100
  "linter-jshint": {}
  "linter-python-pyflakes":
    pyflakesDirToExecutable: "/usr/local/bin/"
  "linter-rubocop":
    command: "/Users/Kesin/.rbenv/versions/2.2.3/bin/rubocop"
  minimap: {}
  react: {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "vim-mode-plus":
    incrementalSearch: true
    showHoverOnOperate: true
    showHoverSearchCounter: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
  zentabs:
    maximumOpenedTabs: 3
".coffee.jsx.source":
  editor:
    preferredLineLength: 100
".js.jsx.source":
  editor:
    preferredLineLength: 100
