# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/customizing-atom#customizing-key-bindings
# * https://atom.io/docs/latest/advanced/keymaps
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson

# vim-mode
# 'atom-text-editor.vim-mode.normal-mode':
#   'ctrl-i': 'cursor-history:next'
#   'ctrl-o': 'cursor-history:prev'
#
# 'atom-text-editor.vim-mode:not(.insert-mode)':
#   'ctrl-p': 'clip-history:paste'
#   'ctrl-n': 'clip-history:paste-newer'
#   'ctrl-P': 'clip-history:paste-last'

#-------
# autocomplete
'body atom-text-editor.autocomplete-active':
  'ctrl-p': 'autocomplete-plus:move-up'
  'ctrl-n': 'autocomplete-plus:move-down'
  'tab': 'autocomplete-plus:move-down'
  'ctrl-k': 'autocomplete-plus:confirm'

'atom-text-editor':
  # snippets
  'ctrl-k': 'snippets:next-tab-stop'
  # tree-view
  'ctrl-e': 'tree-view:show'

# emulate vim ex-mode
# https://github.com/atom/vim-mode/issues/50
'.editor.vim-mode-plus:not(.insert-mode)':
  ': w enter': 'core:save'
  ': q enter': 'core:close'
  ': s p enter':  'pane:split-down-and-copy-active-item'
  ': v s p enter':  'pane:split-right-and-copy-active-item'
  'g c c': 'editor:toggle-line-comments' # emulate tomtom/tcooment_vim

  't c': 'atom-vim-like-tab:new' # mean 'tab create'
  ': t a b c': 'atom-vim-like-tab:close'
  't p': 'atom-vim-like-tab:previous'
  't n': 'atom-vim-like-tab:next'
  'space t': 'atom-vim-like-tab:list'


# ----
# @t9md vim-mode-plus keymaps https://github.com/t9md/atom-vim-mode-plus/wiki/Keymap-example
# text-editor
'atom-text-editor:not([mini])':
  'ctrl-i': 'cursor-history:next'
  'ctrl-o': 'cursor-history:prev'
  'ctrl-cmd-i': 'cursor-history:next-within-editor'
  'ctrl-cmd-o': 'cursor-history:prev-within-editor'

# text-editor.mini
'atom-text-editor[mini]':
  'ctrl-u': 'editor:delete-to-beginning-of-line'
  'ctrl-w': 'editor:delete-to-beginning-of-word'

# normal
'atom-text-editor.vim-mode-plus.normal-mode':
  'g f': 'open-this:here'
  'ctrl-w f': 'open-this:split-down'
  'ctrl-w F': 'open-this:split-right'

  'g x': 'link:open'
  'cmd-enter': 'paner:maximize'

  'ctrl-g': 'vim-mode-plus:reset-normal-mode'
  'cmd-z': 'vim-mode-plus:toggle-fold'
  'g c': 'vim-mode-plus:select-latest-change'
  'S': 'vim-mode-plus:surround-word'
  'y s': 'vim-mode-plus:surround'
  'm s': 'vim-mode-plus:map-surround'
  'd s': 'vim-mode-plus:delete-surround-any-pair'
  'c s': 'vim-mode-plus:change-surround-any-pair'

# insert
'atom-text-editor.vim-mode-plus.insert-mode':
  'cmd-f': 'editor:move-to-end-of-word'
  'cmd-b': 'editor:move-to-beginning-of-word'
  'cmd-d': 'editor:delete-to-end-of-word'
  'cmd-m': 'editor:select-word'
  # 'ctrl-y': 'clip-history:paste'
  # 'cmd-y': 'clip-history:paste-newer'
  # 'ctrl-Y': 'clip-history:paste-last'
  'ctrl-i': 'vim-mode-plus:insert-last-inserted'

  # emmet
  # emmet-vim compatible key  bind
  'ctrl-y ,': 'emmet:expand-abbreviation'

# non-insert
'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  ']': 'vim-mode-plus:move-to-last-character-of-line'
  '[': 'vim-mode-plus:move-to-first-character-of-line'
  'ctrl-p': 'clip-history:paste'
  'ctrl-n': 'clip-history:paste-newer'
  'ctrl-P': 'clip-history:paste-last'

# visual, operator-pending
'atom-text-editor.vim-mode-plus.operator-pending-mode, atom-text-editor.vim-mode-plus.visual-mode':
  'g _': 'vim-mode-plus:snake-case'
  ';': 'vim-mode-plus:inner-any-pair'
  "'": 'vim-mode-plus:inner-any-quote'

# visual
'atom-text-editor.vim-mode-plus.visual-mode':
  'ctrl-k': 'vim-mode-plus:move-line-up'
  'ctrl-j': 'vim-mode-plus:move-line-down'
  'ctrl-l': 'editor:indent-selected-rows'
  'ctrl-h': 'editor:outdent-selected-rows'

# operator-pending
'atom-text-editor.vim-mode-plus.operator-pending-mode':
  'c': 'vim-mode-plus:inner-word'

# Input
'atom-text-editor.vim-mode-plus-input':
  'ctrl-g': 'vim-mode-plus:input-cancel'

# Search input
'atom-text-editor.vim-mode-plus-search':
  '[': 'vim-mode-plus:search-visit-prev'
  ']': 'vim-mode-plus:search-visit-next'
  ';': 'vim-mode-plus:search-confirm'
  'space': 'vim-mode-plus:search-insert-wild-pattern'
  'ctrl-g': 'vim-mode-plus:search-cancel'
# with narrow
  'ctrl-l': 'vim-mode-plus-user:narrow:lines-from-search'
  'cmd-/': 'vim-mode-plus-user:narrow:atom-scan'

# Other
'.select-list':
  ';': 'core:confirm'
  'ctrl-l': 'pane:split-right'
  'ctrl-j': 'pane:split-down'
  'ctrl-g': 'core:cancel'
# ----
